/** main.scss */
@use "global" as *;

.blog {
  background-color: $white;
  max-width: unset;
  padding: 5% 10%;

  .title {
    @extend %base-title;
  }

  .process-list {
    margin-top: 40px;
    margin-bottom: 36px;

    .process {
      margin-bottom: 25px;

      & > div {
        & > h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 500;
        }
        & > p {
          color: $dark-green-text;
          margin: 0;
        }
      }

      .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        img {
          height: 100%;
        }
      }
    }
  }
  button {
    height: auto;
    border-radius: 8px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px;
  }
}

.metadata {
  .category {
    color: $light-green;
  }
  .read-time {
    color: $light-gray;
  }
}
.try-7-days-light {
  height: 400px;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.try-big-title {
  h4 {
    font-size: 60px;
    font-weight: bold;
  }
}
.form-7days {
  form {
    margin: 20px;
    button {
      background-color: $gray;
      color: $white;
      border-radius: 10px;
      outline: none;
      height: 50px;
      width: 150px;
    }
    input {
      height: 50px;
      border-radius: 10px;
    }
  }
}
.sub-input-text {
  color: $white;
  font-weight: bold;
}
.try-7-days-dark {
  margin: 5% 10%;
  height: 300px;
  background-color: $gray;
  .row {
    height: 100%;
    width: 100%;
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      .title {
        text-align: center;
        color: $white;
        h4 {
          font-size: 50px;
        }
      }
      .subtitle {
        text-align: center;
        color: $white;
        h6 {
          span {
            color: $light-green;
          }
        }
      }
      .form-7days {
        form {
          button {
            background-color: $light-green;
          }
        }
      }
    }
  }
}
